@import url("./style.css");
body {
  background: url("../images/EU.png"), rgba(27, 46, 92, 0.9);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  font-family: "FranklinGothicBook";
}
.back-icon:hover{
  cursor: pointer;
}
.button-submit:disabled {
  background-color: #911d21 !important;
}
.input::placeholder {
  color: #1b2e5c8e;
}
.input:focus {
  border: none;
  outline: none;
}
input[type="file"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
input[type="file"]:hover {
  cursor: pointer;
}
.shadow-danger {
  box-shadow: 0px 3px 12px 0px rgba(192, 39, 45, 0.75);
}

.image1 {
  object-fit: cover;
  aspect-ratio: 1/1;
  position: absolute;
  width: 45%;
  right: 0;
  top: 0;
}
.image2 {
  object-fit: cover;
  position: absolute;
  object-position: center;
  left: 50%;
  aspect-ratio: 16/10;
  top: 45%;
  transform: translateX(-40%);
}
.input-group label {
  font-size: 0.7rem !important;
}
@media (min-width: 576px) {
  .input-group label {
    font-size: 0.9rem !important;
  }
}
