:root {
  --primary-color: #1b2f5c;
  --secondary-color: #e59f41;
  --danger-color: #c0272d;
  --success-color: #2b7b3f;
}

/* reset main colors */
.text-primary {
  color: var(--primary-color) !important;
}

.text-secondary {
  color: var(--secondary-color) !important;
}

.text-success {
  color: var(--success-color) !important;
}

.text-danger {
  color: var(--danger-color) !important;
}ٍ

.bg-primary {
  background-color: var(--primary-color) !important;
}

.bg-secondary {
  background-color: var(--secondary-color) !important;
}

.bg-success {
  background-color: var(--success-color) !important;
}

.bg-danger {
  background-color: var(--danger-color) !important;
}

.form-control:focus{
  box-shadow: none;
}

.modal{
  background-color: rgba(255, 255, 255,0.7);
}